@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
    font-family: sans-serif;
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    background: #111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    overflow: hidden;
}

body,
html {
    margin: 0;
    padding: 0;
}

#pong {
    width: 100%;
    height: 100%;
}

.panel {
    padding-top: 14px;
    background: #191919;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.page {
    max-width: 940px;
    margin: 20px auto;
    background: #f5f5f5;
    padding: 20px;
}

h2 {
    font-size: 24px;
}

.page ul {
    width: 300px;
    margin: auto;
    text-align: left;
}

.page ul li a {
    color: #555;
    font-size: 18px;
}

a {
    color: #eee;
    text-decoration: none;
}

a.back {
    position: absolute;
    top: 14px;
    left: 15px;
}

button {
    font-family: sans-serif;
    font-size: 100%;
    margin: 0;
    overflow: visible;
    text-transform: none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: transparent;
    line-height: 1;
}

.modal {
    position: absolute;
    width: 60vw;
    min-width: 400px;
    max-width: 800px;
    display: table;
    margin: 0 auto;
    left: 0;
    right: 0;
    /* height of header */
    top: 100px;
    height: calc(100vh - 100px);
}

.hidden {
    display: none !important;
}

.modal>.modal-cell {
    position: relative;
    display: table-cell;
    min-height: 100%;
    vertical-align: middle;
}

.modal>.modal-cell>.modal-box {
    position: relative;
    margin: 5vh auto;
}

.modal>.modal-cell>.modal-box>.modal-inner {
    position: relative;
    padding: 16%;
    opacity: 0.82;
    border-radius: 12px;
    background-color: #2f3448;
    -webkit-box-shadow: 9px 9px 14px -8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 9px 9px 14px -8px rgba(0, 0, 0, 0.5);
    box-shadow: 9px 9px 14px -8px rgba(0, 0, 0, 0.5);
}

button {
    display: block;
    min-width: 100%;
    border-radius: 12px;
    background-color: #63dcfd;
    padding: 26px 0;
    margin-bottom: 40px;
    font-size: 3.3em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

button:hover,
button:active {
    -webkit-box-shadow: 9px 9px 14px -8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 9px 9px 14px -8px rgba(0, 0, 0, 0.5);
    box-shadow: 9px 9px 14px -8px rgba(0, 0, 0, 0.5);
}

button:focus,
button:active {
    outline: none;
}

button:last-of-type {
    margin-bottom: 0;
}

button.green-btn {
    background-color: #66e07c;
}

button.close-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: 0;
    min-width: 0;
    padding: 18px;
    margin-bottom: 0;
    color: white;
    font-size: 1.6em;
}

button.close-btn:hover,
button.close-btn:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

a.fullscrn-btn {
    margin-top: 26px;
    margin-bottom: -26px;
    text-decoration: underline;
    font-size: 1.2em;
    display: block;
}

.header-logo {
    position: absolute;
    max-height: calc(100px - 56px);
    top: 28px;
    left: 50px;
    cursor: pointer;
}

.header-highscore {
    position: absolute;
    right: 50px;
    color: white;
    height: 100px;
    display: table;
    visibility: hidden;
}

.header-highscore .header-highscore-text {
    text-transform: uppercase;
    font-size: 2.4em;
    line-height: 1;
    display: table-cell;
    vertical-align: middle;
    padding-right: 14px;
}

.header-highscore .header-highscore-score {
    font-size: 6em;
    line-height: 1;
    display: table-cell;
    vertical-align: middle;
}


/* Portrait and Landscape */

@media (max-width: 1000px) {
    button {
        font-size: 2.6em;
    }
    .modal>.modal-cell>.modal-box>.modal-inner {
        padding: 14% 8%;
    }
    .header-logo {
        display: none;
    }
    .header-logo-small {
        display: block !important;
    }
}